{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",       
    "^react/(.*)$",
    "^./hooks",
    "^~/icons",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,  
  "importOrderSortSpecifiers": true,  
  "importOrderCaseInsensitive": true

}
